<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if form.summary %}
  <title>{{ form.summary }}</title>
  {% else %}
  <title>{{ form.operationId }}</title>
  {% endif %}
  <link rel="stylesheet" href="{{ assets.stylesheet }}">
</head>
<body>
  <div id="formgen-preact-root" data-operation="{{ form.operationId }}"></div>
  <script id="formgen-preact-data" type="application/json">{{ form_json|safe }}</script>
  <script src="{{ assets.vendorScript }}" defer></script>
  <script src="/runtime/formgen-relationships.min.js" defer></script>
  <script src="{{ assets.appScript }}" defer></script>
</body>
</html>
