{% set input_type = "text" -%}
{% if field.type == "integer" or field.type == "number" %}
{% set input_type = "number" %}
{% endif %}
{% if field.uiHints.inputType %}
    {% if field.uiHints.inputType == "text" or field.uiHints.inputType == "email" or field.uiHints.inputType == "password" or field.uiHints.inputType == "search" or field.uiHints.inputType == "tel" or field.uiHints.inputType == "url" or field.uiHints.inputType == "number" or field.uiHints.inputType == "date" or field.uiHints.inputType == "datetime-local" or field.uiHints.inputType == "time" or field.uiHints.inputType == "month" or field.uiHints.inputType == "week" %}
        {% set input_type = field.uiHints.inputType %}
    {% endif %}
{% endif %}
{% set data_attrs = field.metadata.__data_attrs -%}
{% set min_value = field.min -%}
{% set max_value = field.max -%}
{% set step_value = field.step -%}

<input
    type="{{ input_type }}"
    id="fg-{{ field.name }}"
    name="{{ field.name }}"
    class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
    {% if field.placeholder %}placeholder="{{ field.placeholder }}"{% endif %}
    {% if field.required %}required{% endif %}
    {% if field.disabled %}disabled{% endif %}
    {% if field.readonly %}readonly{% endif %}
    {% if field.default %}value="{{ field.default }}"{% endif %}
    {% if min_value or min_value == 0 %}min="{{ min_value }}"{% endif %}
    {% if max_value or max_value == 0 %}max="{{ max_value }}"{% endif %}
    {% if step_value or step_value == 0 %}step="{{ step_value }}"{% endif %}
    {% if field.pattern %}pattern="{{ field.pattern }}"{% endif %}
    {% if data_attrs %}{{ data_attrs|safe }}{% endif %}
>
