{% set data_attrs = field.metadata.__data_attrs %}
<textarea id="fg-{{ field.name }}" name="{{ field.name }}" class="w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500"{% if field.placeholder %} placeholder="{{ field.placeholder }}"{% endif %}{% if field.required %} required{% endif %}{% if data_attrs %}{{ data_attrs|safe }}{% endif %}>{% if field.default %}{{ field.default }}{% endif %}</textarea>
