{% set data_attrs = field.metadata.__data_attrs -%}
{% set row_count = field.uiHints.rows -%}
{% if not row_count %}
{% set row_count = 4 %}
{% endif %}

<textarea
    id="fg-{{ field.name }}"
    name="{{ field.name }}"
    class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
    rows="{{ row_count }}"
    {% if field.placeholder %}placeholder="{{ field.placeholder }}"{% endif %}
    {% if field.required %}required{% endif %}
    {% if field.disabled %}disabled{% endif %}
    {% if field.readonly %}readonly{% endif %}
    {% if field.maxLength or field.maxLength == 0 %}maxlength="{{ field.maxLength }}"{% endif %}
    {% if data_attrs %}{{ data_attrs|safe }}{% endif %}
>{% if field.default %}{{ field.default }}{% endif %}</textarea>
